.container {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    column-gap: 10px;
    row-gap: 10px;
    width:max-content;
}
.length {
    background-color: hsl(212, 39%, 49%); 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.slice {
    background-color: hsl(36, 98%, 51%); 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.sub {
    background-color: hsl(138, 92%, 47%); 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.replace {
    background-color: hsl(54, 97%, 49%); 
    border: none;
    border-radius: 10px;
    color: rgb(37, 37, 37);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}